{% extends "header.html" %}
{% block body %}

<!-- Page Heading -->
<div class="row" style="margin-top: -25px;">
    <div class="col-lg-12" style="background-color: #F8F9F9">
        <h3 class="page-header"><b>Admin Dashboard</b></h3>
    </div>
</div>
<!-- /.row -->

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible" role="alert" style="margin: 10px">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
        </div>
        {% endfor %}
    {% endif %}
{% endwith %}


{% if error %}

    <div class="alert alert-danger" role="alert" style="margin: 10px">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{ error | capitalize }}
    </div>
    
{% endif %}

<!-- ================================================================================================================================= -->
<!-- ================================================================================================================================= -->


<div class="row">
<div class="panel panel-primary">
<div class="panel-heading"><h3 class="panel-title"><b>Application List</b></h3></div>
<div class="panel-body" style="padding-left: 70px;">

<table class="table table-hover"> 
    <thead> <tr> <th>Applicant Name</th> <th>Application Status</th> <th>Action</th> </tr> </thead> 
    <tbody>
        {% for applicant in data %}
        <tr>
            <td>{{applicant.first_name+" "+applicant.last_name}}</td>

            {% if status_data %}
                {% for status in status_data %}
                    {% if status.applicant_id == applicant.applicant_id %}
                    <td>{% if status.status == "rejected" %}<font color="red"><b>{{status.status | title}}</b></font>{% endif %}
                        {% if status.status == "accepted" %}<font color="green"><b>{{status.status | title}}</b></font>{% endif %}
                    </td>
                    {% endif %}
                {% endfor %}

                {% if applicant.applicant_id not in app_id_list %}
                    <td><font color="blue"><b>New Application</b></font></td>
                {% endif %}

            {% else %}
            <td><font color="blue"><b>New Application</b></font></td>
            {% endif %}


            <td><a href="{{ url_for('view_application', app_id=applicant.applicant_id)}}">
                <button type="button" class="btn btn-sm btn-success">View Application</button></a>
            </td>

        </tr>
        {% else %}
        <tr><td colspan="3" align="center"><font color="red">Application not found</font></td></tr>
        {% endfor %}
        <tr><td></td><td></td><td></td></tr>
    </tbody>
</table>

</div>
</div>
</div>



{% endblock %}







